.general {
    color: rgb(214, 243, 243);
    background-color: #1f1f20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column; /* Ensure items are displayed in a column */
    align-items: center;
    width: 100vw;
    overflow-y: auto;
}

p {
    margin: 0;
    font-size: 2em;
    padding: 0;
}

.title {
    position: relative;
    color: inherit;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.title h1 {
    margin: 0;
    font-size: 5em;
    font-weight: bold;
    color: inherit;
    width: 100%;
    text-align: center;
}

.title h2 {
    font-size: 2.5em;
}
.title .profile{
    width: 80%;
}
.subtitle {
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
}
.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/banner.jpg');
    z-index: -1;
}

.profile-pic {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #1f1f20;
    color: rgb(168, 182, 182);
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.nav a {
    flex: 1;
    color: rgb(130, 136, 221);
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    height: 100%;
    font-size: 1.5em;
}

.nav a:hover {
    background-color: rgb(130, 136, 221);
    color: #1f1f20;
}

.content {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
}